{% extends 'layouts/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<form method="post" style="width: 30%; margin-top: 15%;margin-left: 35%;">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" >
    {% endif %}
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="text" id="form2Example1" class="form-control" name="username" />
      <label class="form-label"  for="form2Example1">Username</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" name="password" />
      <label class="form-label" for="form2Example2">Password</label>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
  
  </form>
{% endblock %}