{% extends 'layouts/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% include 'includes/carousel.html' %}
    {% include 'includes/discover.html' %}
    {% include 'includes/new-arrivals.html' %}
    {% include 'includes/sofa-collection.html' %}
    {% include 'includes/feature.html' %}
    {% include 'includes/blog.html' %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
    {% include 'includes/clients.html' %}
{% endblock content %}