<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" />
<title>Profile Change</title>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="{{ user.profile.image.url }}" /><span
                    class="font-weight-bold">{{ user.first_name }}</span><span class="text-black-50">{{ user.email}}</span><span>
                </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">First name</label>
                            {{ user_form }}  
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">{{ profile_form }}</label>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Address Line 2</label><input type="text" class="form-control"
                                placeholder="enter address line 2" value="" />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Postcode</label><input type="text" class="form-control"
                                placeholder="enter address line 2" value="" />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">State</label><input type="text" class="form-control"
                                placeholder="enter address line 2" value="" />
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Area</label><input type="text" class="form-control"
                                placeholder="enter address line 2" value="" />
                        </div>
                    </div>
                    {{ form.errors }}
                    <button class="btn btn-primary mt-5" type="submit">
                        Save Profile
                    </button>
            </div>
            </form>
        </div>
    </div>
</div>
</div>

<style>
    * {
        padding: 0;
    }

    body {
        background-color: #682773 !important;
    }

    label {
        margin-top: 30px;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #ba68c8;
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none;
    }

    .profile-button:hover {
        background: #682773;
    }

    .profile-button:focus {
        background: #682773;
        box-shadow: none;
    }

    .profile-button:active {
        background: #682773;
        box-shadow: none;
    }

    .back:hover {
        color: #682773;
        cursor: pointer;
    }

    .labels {
        font-size: 11px;
    }

    .add-experience:hover {
        background: #ba68c8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #ba68c8;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>