{% extends 'layouts/base.html' %}

{% block title %}Rate{% endblock title %}

{% block content %}

<section id="feature" class="feature">
    <div class="container">
        <div class="section-header">
            <h2>Featured product</h2>
        </div>
        <!--/.section-header-->
        <div class="feature-content">
            <div class="row">
                <div class="col-sm-3">
                    <form method="post">
                        {% csrf_token %}
                        <div class="single-feature">
                            <img src="{{ rate.img.url }}" alt="feature image" width="300">
                            <div class="single-feature-txt text-center">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span class="spacial-feature-icon"><i class="fa fa-star"></i></span>
                                    {{ rate_form }}
                                </p>
                                <h3><a href="#">{{ rate.title }}</a></h3>
                                <h5>${{ rate.price }}</h5>
                                <button type="submit" class="btn btn-primary" id="rate_product">Rate product</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->

</section>

{% endblock %}