{% load static %}
<section id="clients" class="clients">
    <div class="container">
        <div class="owl-carousel owl-theme" id="client">
            <div class="item">
                <a href="#">
                    <img src="{% static 'images/clients/c1.png' %}" alt="brand-image" />
                </a>
            </div>
            <!--/.item-->
            <div class="item">
                <a href="#">
                    <img src="{% static 'images/clients/c2.png' %}" alt="brand-image" />
                </a>
            </div>
            <!--/.item-->
            <div class="item">
                <a href="#">
                    <img src="{% static 'images/clients/c3.png' %}" alt="brand-image" />
                </a>
            </div>
            <!--/.item-->
            <div class="item">
                <a href="#">
                    <img src="{% static 'images/clients/c4.png' %}" alt="brand-image" />
                </a>
            </div>
            <!--/.item-->
            <div class="item">
                <a href="#">
                    <img src="{% static 'images/clients/c5.png' %}" alt="brand-image" />
                </a>
            </div>
            <!--/.item-->
        </div>
        <!--/.owl-carousel-->

    </div>
    <!--/.container-->

</section>