<div class="container">
    <form id="contactus" method="post">
        <h3>Contact us form</h3>
        <fieldset> <input placeholder="Full name" type="text" tabindex="1" required autofocus> </fieldset>
        <fieldset> <input placeholder="Email Address" type="email" tabindex="2" required> </fieldset>
        <fieldset> <input placeholder="Phone Number" type="tel" tabindex="3" required> </fieldset>
        <fieldset> <textarea placeholder="Type your message here..." tabindex="5" required></textarea> </fieldset>
        <fieldset> <button name="submit" type="submit" id="contactus-submit" data-submit="...Sending"><i id="icon" class=""></i> Send</button>
        </fieldset>
    </form>
</div>