<div class="container">
    <form id="contactus" method="post">
        {% load widget_tweaks %}
        {% csrf_token %}
        <h3>Contact us form</h3>
        <fieldset> {% render_field form.full_name type='text' placeholder='Full Name' %} </fieldset>
        <fieldset> {% render_field form.email type='email' placeholder='Email Adress' %} </fieldset>
        <fieldset> {% render_field form.mobile type='number' placeholder='Phone Number' %} </fieldset>
        <fieldset> {% render_field form.choices %} </fieldset>
        <fieldset> {% render_field form.text type='text' placeholder='Type your message here...' %} </fieldset>
        <fieldset> <button name="submit" type="submit" id="contactus-submit" data-submit="...Sending"><i id="icon" class=""></i> Send</button>
        </fieldset>
    </form>
</div>