{% load static %}

<section id="populer-products" class="populer-products">
    <div class="container">
        <div class="populer-products-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="single-populer-products">
                        <div class="single-populer-product-img mt40">
                            <img src="{% static 'images/populer-products/p1.png' %}" alt="populer-products images">
                        </div>
                        <h2><a href="#">arm chair</a></h2>
                        <div class="single-populer-products-para">
                            <p>Nemo enim ipsam voluptatem quia volu ptas sit asperna aut odit aut fugit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-populer-products">
                        <div class="single-inner-populer-products">
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <div class="single-inner-populer-product-img">
                                        <img src="{% static 'images/populer-products/p2.png' %}"
                                            alt="populer-products images">
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="single-inner-populer-product-txt">
                                        <h2>
                                            <a href="#">
                                                latest designed stool <span>and</span> chair
                                            </a>
                                        </h2>
                                        <p>
                                            Edi ut perspiciatis unde omnis iste natusina error sit voluptatem
                                            accusantium doloret mque laudantium, totam rem aperiam.
                                        </p>
                                        <div class="populer-products-price">
                                            <h4>Sales Start from <span>$99.00</span></h4>
                                        </div>
                                        <button class="btn-cart welcome-add-cart populer-products-btn"
                                            onclick="window.location.href='#'">
                                            discover more
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-populer-products">
                        <div class="single-populer-products">
                            <div class="single-populer-product-img">
                                <img src="{% static 'images/populer-products/p3.png' %}" alt="populer-products images">
                            </div>
                            <h2><a href="#">hanging lamp</a></h2>
                            <div class="single-populer-products-para">
                                <p>Nemo enim ipsam voluptatem quia volu ptas sit asperna aut odit aut fugit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->

</section>