{% load static %}
<section id="feature" class="feature">
    <div class="container">
        <div class="section-header">
            <h2>featured products</h2>
        </div>
        <!--/.section-header-->
        <div class="feature-content">
            <div class="row">
                {% for y in products %}
                <div class="col-sm-3">
                    <div class="single-feature">
                        <img src="{{ y.img.url }}" alt="feature image" width="300" >
                        <div class="single-feature-txt text-center">
                            <p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span class="spacial-feature-icon"><i class="fa fa-star"></i></span>
                                <span class="feature-review">(45 review)</span>
                            </p>
                            <h3><a href="{{ y.products_url }}">{{ y.title }}</a></h3>
                            <h5>${{ y.price }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--/.container-->

</section>