<!--newsletter strat -->
{% load static %}
<section id="newsletter" class="newsletter">
    <div class="container">
        <div class="hm-footer-details">
            <div class="row">
                <div class=" col-md-3 col-sm-6 col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title">
                            <h4>information</h4>
                        </div>
                        <!--/.hm-foot-title-->
                        <div class="hm-foot-menu">
                            <ul>
                                <li><a href="#">about us</a></li>
                                <!--/li-->
                                <li><a href="#">contact us</a></li>
                                <!--/li-->
                                <li><a href="#">news</a></li>
                                <!--/li-->
                                <li><a href="#">store</a></li>
                                <!--/li-->
                            </ul>
                            <!--/ul-->
                        </div>
                        <!--/.hm-foot-menu-->
                    </div>
                    <!--/.hm-footer-widget-->
                </div>
                <!--/.col-->
                <div class=" col-md-3 col-sm-6 col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title">
                            <h4>collections</h4>
                        </div>
                        <!--/.hm-foot-title-->
                        <div class="hm-foot-menu">
                            <ul>
                                <li><a href="#">wooden chair</a></li>
                                <!--/li-->
                                <li><a href="#">royal cloth sofa</a></li>
                                <!--/li-->
                                <li><a href="#">accent chair</a></li>
                                <!--/li-->
                                <li><a href="#">bed</a></li>
                                <!--/li-->
                                <li><a href="#">hanging lamp</a></li>
                                <!--/li-->
                            </ul>
                            <!--/ul-->
                        </div>
                        <!--/.hm-foot-menu-->
                    </div>
                    <!--/.hm-footer-widget-->
                </div>
                <!--/.col-->
                <div class=" col-md-3 col-sm-6 col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title">
                            <h4>my accounts</h4>
                        </div>
                        <!--/.hm-foot-title-->
                        <div class="hm-foot-menu">
                            <ul>
                                <li><a href="#">my account</a></li>
                                <!--/li-->
                                <li><a href="#">wishlist</a></li>
                                <!--/li-->
                                <li><a href="#">Community</a></li>
                                <!--/li-->
                                <li><a href="#">order history</a></li>
                                <!--/li-->
                                <li><a href="#">my cart</a></li>
                                <!--/li-->
                            </ul>
                            <!--/ul-->
                        </div>
                        <!--/.hm-foot-menu-->
                    </div>
                    <!--/.hm-footer-widget-->
                </div>
                <!--/.col-->
                <div class=" col-md-3 col-sm-6  col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title">
                            <h4>newsletter</h4>
                        </div>
                        <!--/.hm-foot-title-->
                        <div class="hm-foot-para">
                            <p>
                                Subscribe to get latest news,update and information.
                            </p>
                        </div>
                        <!--/.hm-foot-para-->
                        <!--/.hm-foot-email-->
                    </div>
                    <!--/.hm-footer-widget-->
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </div>
        <!--/.hm-footer-details-->

    </div>
    <!--/.container-->

</section>
<!--/newsletter-->
<!--newsletter end -->
<!--footer start-->
<footer id="footer" class="footer">
    <div class="container">
        <div class="hm-footer-copyright text-center">
            <div class="footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
            <p>
                &copy;copyright. designed and developed by <a href="https://www.themesine.com/">themesine</a>
            </p>
            <!--/p-->
        </div>
        <!--/.text-center-->
    </div>
    <!--/.container-->

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Back to Top" aria-hidden="true"></i>
        </div>

    </div>
    <!--/.scroll-Top-->

</footer>
<!--/.footer-->
<!--footer end-->