{% load static %}

<!--welcome-hero start -->
<header id="home" class="welcome-hero">

    <div class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
                data-minus-value-mobile="55" data-speed="1000">

                <!-- Start Top Search -->
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->

                <div class="container">
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav">
                        <ul>
                            <li class="search">
                                <a href="#"><span class="lnr lnr-magnifier"></span></a>
                            </li>
                            <!--/.search-->
                            <li class="nav-setting">
                                <a href="#"><span class="lnr lnr-cog"></span></a>
                            </li>
                            <!--/.search-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="lnr lnr-cart"></span>
                                    <span class="badge badge-bg-1">2</span>
                                </a>
                                <ul class="dropdown-menu cart-list s-cate">
                                    <li class="single-cart-list">
                                        <a href="#" class="photo"><img
                                                src="{% static 'images/collection/arrivals1.png' %} " class="cart-thumb"
                                                alt="image" /></a>
                                        <div class="cart-list-txt">
                                            <h6><a href="#">arm <br> chair</a></h6>
                                            <p>1 x - <span class="price">$180.00</span></p>
                                        </div>
                                        <!--/.cart-list-txt-->
                                        <div class="cart-close">
                                            <span class="lnr lnr-cross"></span>
                                        </div>
                                        <!--/.cart-close-->
                                    </li>
                                    <!--/.single-cart-list -->
                                    <li class="single-cart-list">
                                        <a href="#" class="photo"><img
                                                src="{% static 'images/collection/arrivals2.png' %}" class="cart-thumb"
                                                alt="image" /></a>
                                        <div class="cart-list-txt">
                                            <h6><a href="#">single <br> armchair</a></h6>
                                            <p>1 x - <span class="price">$180.00</span></p>
                                        </div>
                                        <!--/.cart-list-txt-->
                                        <div class="cart-close">
                                            <span class="lnr lnr-cross"></span>
                                        </div>
                                        <!--/.cart-close-->
                                    </li>
                                    <!--/.single-cart-list -->
                                    <li class="single-cart-list">
                                        <a href="#" class="photo"><img
                                                src="{% static 'images/collection/arrivals3.png' %}" class="cart-thumb"
                                                alt="image" /></a>
                                        <div class="cart-list-txt">
                                            <h6><a href="#">wooden arn <br> chair</a></h6>
                                            <p>1 x - <span class="price">$180.00</span></p>
                                        </div>
                                        <!--/.cart-list-txt-->
                                        <div class="cart-close">
                                            <span class="lnr lnr-cross"></span>
                                        </div>
                                        <!--/.cart-close-->
                                    </li>
                                    <!--/.single-cart-list -->
                                    <li class="total">
                                        <span>Total: $0.00</span>
                                        <button class="btn-cart pull-right" onclick="window.location.href='#'">view
                                            cart</button>
                                    </li>
                                </ul>
                            </li>
                            <!--/.dropdown-->
                        </ul>
                    </div>
                    <!--/.attr-nav-->
                    <!-- End Atribute Navigation -->

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="{% url 'furn:home' %}">sine<span>mkt</span>.</a>

                    </div>
                    <!--/.navbar-header-->
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="active"><a href="{% url 'furn:home' %}">home</a></li>
                            <li class="scroll"><a href="#new-arrivals">new arrival</a></li>
                            <li class="scroll"><a href="#newsletter">contact</a></li>
                            {% if not request.user.is_authenticated %}
                            <li><a href="{% url 'furn:signup' %}">Register</a></li>
                            <li><a href="{% url 'furn:login' %}">Login</a></li>
                            {% endif %}
                            {% if request.user.is_organiser %}
                            <li class=""><a href="/dashboard/">dashboard</a></li>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                            <li class="profile-navbar"><a href="{% url 'furn:profile' %}">Profile</a></li>
                            <li class="logout-navbar"><a href="#">Logout</a></li>
                            {% endif %}
                        </ul>
                        <!--/.nav -->
                    </div><!-- /.navbar-collapse -->
                </div>
                <!--/.container-->
            </nav>
            <!--/nav-->
            <!-- End Navigation -->
        </div>
        <!--/.header-area-->
        <div class="clearfix"></div>

    </div>

</header>
<!--/.welcome-hero-->
<!--welcome-hero end -->